<h2>Add Book</h2>
<form>
    <div class="form-group">
        <label for="title">Name:</label>
        <input [(ngModel)]="book.title" placeholder="Title" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="author">Surname:</label>
        <input [(ngModel)]="book.author" placeholder="Author" name="author" class="form-control" id="author">
    </div>
    <div class="form-group">
        <label for="read">Read:</label>
        <input [(ngModel)]="book.read" placeholder="Read" name="read" class="form-control" id="read">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success" (click)="createBook()">Create</button>
    </div>

</form>